{% extends "bootstrap/base.html" %}
{% block title %}Hackerator stampling{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <h1>Hackeratorz</h1>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
    //connect to the socket server.
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/gui');
    var numbers_received = [];
    //receive details from server
    socket.on('toggle', function(msg) {
        console.log("Received toggle for " + msg.kortnummer);
        //maintain a list of ten numbers
        if (numbers_received.length >= 10){
            numbers_received.shift()
        }
        numbers_received.push(msg);
        numbers_string = '';
        for (var i = 0; i < numbers_received.length; i++){
            if (numbers_received[i].status == 0 ) {
                buttontype = "btn btn-danger"
                buttontext = 'Ut'
            } else {
                buttontype = "btn btn-success"
                buttontext = "In"
            }
            numbers_string = numbers_string + '<p><button type="button" class="' + buttontype + '">' +
            buttontext + ' - Kortnummer: ' + numbers_received[i].kortnummer +
            ' - ' + numbers_received[i].datum + '</button></p>';
        }
        $('#log').html(numbers_string);
    });
});
    </script>

<div class="container" id="content">
    <div class="row">
        <p>Senaste händelserna</p>
    </div>
    <div id="log"></div>
</div>
{% endblock %}