function populate() {
    data_string = '';
    for (var i = 0; i < data_received.length; i++){
        if (data_received[i].status == 0 ) {
            buttontype = "btn btn-danger"
            buttontext = 'Ut'
        } else {
            buttontype = "btn btn-success"
            buttontext = "In"
        }

        data_string = data_string + '<a href="/user/' + data_received[i].kortnummer + '" class="' + buttontype + '">' +
        buttontext + ' - Kortnummer: ' + data_received[i].kortnummer +
        ' - ' + data_received[i].datum + '</a><br>';
    }
    $('#log').html(data_string);

};